@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	src: url("../fonts/monstrate.woff2");
	font-family: Monstrate;
}

html {
	font-family: monstrate;
}

@layer utilities {
	.padding-x {
		@apply px-[50px] md:px-[30px] sm:px-[20px] xm:px-[20px];
	}
	.heading {
		@apply text-[177px] leading-[130px] lg:text-[130px] lg:leading-[98px] md:text-[100px] md:leading-[75px] sm:text-[74px] sm:leading-[68px] xm:text-[64px] xm:leading-[48px];
	}
	.sub-heading {
		@apply text-[70px] leading-[70px] lg:text-[52px] lg:leading-[52px] md:text-[52px] md:leading-[52px] sm:text-[40px] sm:leading-[40px] xm:text-[31px] xm:leading-[31px];
	}
	.paragraph {
		@apply text-[21px] leading-[32px] lg:text-[16px] lg:leading-[24px] md:text-[16px] md:leading-[24px] sm:text-[16px] sm:leading-[24px] xm:text-[16px] xm:leading-[24px];
	}
	.sub-paragraph {
		@apply xl:text-[31px] xl:leading-[35px] text-[16px] leading-[24px];
	}
	.small-text {
		@apply xl:text-[18px] xl:leading-[28px] lg:text-[16px] lg:leading-[24px] text-[14px] leading-[24px];
	}
}

.hover {
	position: relative;
	text-decoration: none;
}

.hover::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	border-radius: 4px;
	background-color: #18272f;
	bottom: 0;
	left: 0;
	transform-origin: right;
	transform: scaleX(0);
	transition: transform 0.5s ease-in-out;
}

.hover:hover::before {
	transform-origin: left;
	transform: scaleX(1);
}